vim/.netrwhist
vim/autoload/plug.vim
vim/bundle
vim/plugged
vim/sessions

nvim/plugs
nvim/.netrwhist
nvim/autoload/plug.vim
nvim/**/lazy-lock.json
nvim/**/.luarc.json

nushell/autoload/mise.nu
nushell/autoload/zoxide.nu
nushell/autoload/atuin.nu
nushell/autoload/secrets.nu
nushell/history.txt

opencode/node_modules
opencode/bun.lock
opencode/agents/gsd-*.md
opencode/commands/gsd/*
opencode/rules/gsd-*.md
opencode/skills/gsd-*
opencode/get-shit-done
opencode/plugins/rtk.ts

# Specs
.specs/
