vim/.netrwhist
vim/autoload/plug.vim
vim/bundle
vim/plugged
vim/sessions

nvim/plugs
nvim/.netrwhist
nvim/autoload/plug.vim
nvim/**/lazy-lock.json
nvim/**/.luarc.json

nushell/conf.d/mise.nu
nushell/conf.d/zoxide.nu
nushell/conf.d/atuin.nu
